.App{
    width: 100vw;
}

 button {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 247);
    border: none;
    height: auto;
    width: auto;
    font-size: 1.2rem;
    border-radius: .2rem;
    padding: 1px 10px;
    transition: all 300ms ease-in;
  } 
 
button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


